
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/brenopedro/algashop-ordering.git
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/brenopedro/algashop-docs.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/brenopedro/algashop-billing.git
	branch = main
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/brenopedro/algashop-product.git
	branch = main
